<div class="outerContainer">
  <div class="innerContainer">
    <div class="verticalInnerContainer">
      <div class="title raleway-extra-bold">SOCIOS</div>
      <div class="body">
        <a
          class="bold"
          href="https://clubdelvalle.paypertic.com.ar/"
          target="_blank"
        >
          Click aquí
        </a>
        para abonar su cuota de socio
      </div>
      <div class="body">
        Todavia no sos socio?
        <a class="bold" (click)="sendContactEmail()">
          Click aquí para contactarnos!
        </a>
      </div>
    </div>
  </div>
</div>
