<div class="outerContainer">
  <div class="innerContainer">
    <div class="verticalInnerContainer">
      <div class="title raleway-extra-bold">BOTERA</div>
      <div class="body">
        <div class="body">
          La Botera en el Club Del Valle de Necochea, ubicado en la ribera del
          rio, es un sitio que fomenta la práctica de actividades náuticas,
          brindando un espacio deportivo y socio recreativo, destinado a niños,
          jóvenes y adultos.
        </div>
        <div class="body">
          En este sitio, se ofrecer al personal solicitante, servicios de
          alquileres de material deportivo, clases tanto particulares como
          grupales para adultos, escuela de aprendizaje de actividades náuticas
          para niños, jornadas recreativas y actividades turísticas.
        </div>
        <div class="body">
          Además, es de gran interés promover la práctica de las diferentes
          disciplinas del canotaje, logrando así llegar con el deporte a la
          comunidad en general, buscando que las actividades náuticas cobren
          mayor auge y reconocimiento.
        </div>
        <div class="body">
          El CANOTAJE es una disciplina acuática que se realiza en embarcaciones
          tanto individuales como grupales. Se ejercita con la utilización de
          remos, que permiten el desplazamiento sobre ríos, lagunas y mares.
        </div>
        <div class="body">
          Desde el punto de vista deportivo brinda gran cantidad de beneficios:
        </div>
        <div class="body">
          -Mejora el funcionamiento del sistema respiratorio y cardiovascular,
          debido a que necesita de un esfuerzo físico constante.
        </div>
        <div class="body">
          -Favorece el desarrollo del equilibrio y la coordinación, siendo que
          es una disciplina muy fina, en la que se necesita de ambos aspectos
          para navegar de manera correcta.
        </div>
        <div class="body">
          Es una disciplina que también puede generar beneficios psicológicos,
          siendo ideal para reducir el estrés y generar bienestar en la persona.
          Es un deporte que, por lo general, se practica en entornos naturales,
          compartiendo con amigos o familiares, generando gran disfrute y
          divertimento.
        </div>
        <div class="body">
          El CANOTAJE, es una buena herramienta para generar buenos hábitos en
          las actividades diarias de la persona, y fomenta una mejor calidad de
          vida.
        </div>

        <div class="subtitle">ESCUELA FORMATIVA DE CANOTAJE</div>
        <div class="body">
          Disciplina destinada a personas de todas las edades, interesadas en
          practicar el deporte y recrearse en un ambiente natural. Será
          suministrada en clases semanales de acuerdo a los intereses de cada
          persona, brindando conocimientos de cada disciplina (kayak polo, kayak
          slalom, single, remo de travesía, etc), así como los generales del
          canotaje.
        </div>
        <div class="subtitle">KAYAK TRAINING</div>
        <div class="body">
          Disciplina destinada a personas jóvenes y adultas que quieran sumar a
          su actividad física cotidiana, el canotaje como sistema de
          entrenamiento y preparación física. Se plantearán sistemas de
          entrenamientos donde se apunta al mejoramiento de la condición física
          y calidad de la salud, en contacto con un entorno natural.
        </div>
        <div class="body">
          Todas las actividades planteadas serán realizadas bajo correctas
          medidas de seguridad.
        </div>
        <div class="body contact raleway-bold">
          Contacto “La Botera”: +54 9 2262 66-3259 / Sofia Diaz
        </div>
      </div>
    </div>
  </div>
</div>
