<div class="outerContainer">
  <div class="innerContainer">
    <div class="verticalInnerContainer">
      <div class="title raleway-extra-bold">HISTORIA SALON DE FIESTAS</div>
      <div class="body">Inaugurado el 27 de noviembre de 1999.</div>
      <div class="body">
        Un paraíso natural a tan solo dos minutos del centro de la ciudad, el
        salón de fiestas del Club Del Valle con sus jardines cuidadosamente
        diseñados y el parque que culmina en el río Quequen brindan en su
        conjunto una vista y sensación única llena de colores.
      </div>
      <div class="body">
        Su ambiente natural y placentero es plenamente disfrutable, tanto en la
        noche bajo las estrellas como a la luz del día.
      </div>
      <div class="body">
        Es seguramente, la mejor opción de Necochea y la zona para la
        realización de desayunos de trabajo, congresos, cenas empresariales,
        casamientos, cumpleaños o cualquier evento social.
      </div>
      <div class="body">
        El espacio consta de calefacción, aire acondicionado, baños damas y
        caballeros, grupo electrógeno, seguro de responsabilidad civil, servicio
        de emergencias.
      </div>
      <div class="body">
        Nuestra institución se caracteriza por brindar un servicio de excelencia
        para necochenses y foráneos que confían en la capacidad de la atención
        personalizada del señor Juan Di Benedetto, nuestro personal y la
        profesionalidad del mismo.
      </div>
      <div class="body contact raleway-bold">
        Contacto Salón: +54 9 2262 41-1467 / Juan Di Benedetto
      </div>
    </div>
  </div>
</div>
