<div class="outerContainer">
  <div class="innerContainer">
    <div class="verticalInnerContainer">
      <div class="title">FOGONES</div>
      <div class="body">
        Los FOGONES del Club Del Valle tuvieron su origen en la década del 90.
      </div>
      <div class="body">
        En la actualidad contamos con 20 parrillas y 1 fogón para asador, con
        sus respectivas mesas y bancos.
      </div>
      <div class="body">
        Cuentan con acceso a sector de juegos, canchas de fútbol y voley, entre
        otras actividades.
      </div>
      <div class="body">Contacto: +54 9 2262 55-8471 / Miguel Agustino</div>
    </div>
  </div>
</div>
