<div class="outerContainer">
  <div class="innerContainer">
    <div class="verticalInnerContainer">
      <div class="title">COVID-19</div>
      <div class="subtitle">
        SEAMOS RESPONSABLES PARA SEGUIR DISFRUTANDO DE LO QUE MÁS NOS GUSTA
      </div>
      <div class="body">
        <span
          >Para el ingreso y permanencia en las instalaciones del club es
          obligatorio y excluyente:
        </span>
        <ul>
          <li>Llegar al club en el horario asignado</li>
          <li>Usar tapaboca</li>
          <li>No circular dentro del predio</li>
          <li>Mantener distanciamiento social</li>
          <li>Usar alcohol en gel</li>
        </ul>
        <span> #noscuidamosentretodos </span>
      </div>
    </div>
  </div>
</div>
