<div class="outerContainer">
  <div class="innerContainer">
    <div class="verticalInnerContainer">
      <div class="title raleway-extra-bold">FúTBOL</div>
      <div class="body">
        Escuela de Fútbol Infantil de Del Valle comienza el 18 de abril de 1980.
      </div>
      <div class="body">
        Los encargados en sus inicios fueron Oscar Conti y Osvaldo Sosa en las
        instalaciones de los Padres Capuchinos, sucedidos por Carlos Lázaro
        López. Desde el año 1994 en manos de Gustavo Verdese y Gustavo Vómero
        hasta la actualidad.
      </div>
      <div class="body">
        Durante este último período el fútbol infantil ha participado en más de
        40 torneos en los que obtuvo 20 campeonatos y 10 subcampeonatos y el
        número de jugadores se ha incrementado exponencialmente.
      </div>
      <div class="body">
        En la actualidad el club permanece activo con 7 categorías de Futbol
        Infantil y 3 categorías mayores (6ta. División, Reserva y 1ra.).
      </div>
      <div class="body">
        Nuestra intención es generar desde las categorías inferiores hasta las
        superiores identidad con nuestra camiseta, potenciando el perfil y la
        capacidad de cada jugador.
      </div>
      <div class="body contact raleway-bold">
        Contacto: Fútbol Infantil – Gustavo Verdese - 2262 56-4198 / Francisco
        De La Sierra 2262 50-0855
      </div>
    </div>
  </div>
</div>
