<div class="outerContainer">
  <div class="innerContainer">
    <div class="verticalInnerContainer">
      <div class="title raleway-extra-bold">COLONIA</div>
      <div class="body">
        La colonia del club del valle funciona en las barrancas hace más de 25
        años.
      </div>
      <div class="body">
        En la actualidad, cada verano, concurren aproximadamente 150 niños y
        niñas cada mañana.
      </div>
      <div class="body">
        La actividad se extiende desde el 15 de diciembre hasta el 28 de
        febrero.
      </div>
      <div class="body">
        Los colonos se divierten jugando, practicando deportes, aprendiendo
        valores, a nadar, disfrutando de la naturaleza y sobre todo haciendo
        amigos para toda la vida.
      </div>
      <div class="body">Cada verano es una nueva aventura.</div>
      <div class="body">
        Sumate esta temporada y sé parte de la magia del club del valle!!!
      </div>
      <div class="body contact raleway-bold">Contacto: +54 9 2262 57-3646 / Leticia</div>
    </div>
  </div>
</div>
