<mat-sidenav-container
  class="sidenav-container"
  [hasBackdrop]="isHandset$ | async"
>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'"
    [opened]="!(isHandset$ | async)"
    (closedStart)="expansionPanel.close()"
  >
    <mat-toolbar class="logo-container">
      <img
        *ngIf="!(isHandset$ | async)"
        src="./assets/logo/logoDelValleFilete.png"
        alt="logo"
        class="imgAspect"
      />
      <div *ngIf="(isHandset$ | async)" class="mobileTitleContainer">
        <img
        src="./assets/logo/logoDelValleFilete.png"
        alt="logo"
        class="imgSmallAspect"
      />
        <p class="no-margin garamond">Club Del Valle</p>
      </div>
      <p *ngIf="!(isHandset$ | async)" class="no-margin garamond">Club Del Valle</p>
      <div class="logosContainer">
        <a
          href="https://www.facebook.com/clubdelvalle.oficial"
          target="_blank"
          class="a-no-botom-padding"
        >
          <img
            src="./assets/logo/fbGrey.png"
            alt="logo"
            class="logoAspect"
          />
        </a>
        <a
          href="https://www.instagram.com/clubdelvalle.oficial/"
          target="_blank"
          class="a-no-botom-padding"
        >
          <img
            src="./assets/logo/instagramGrey.png"
            alt="logo"
            class="logoAspect"
          />
        </a>
      </div>
    </mat-toolbar>
    <ngx-simplebar>
      <mat-accordion>
        <mat-nav-list class="parent-list">
          <a
            mat-list-item
            (click)="selectMenu('sede-social', drawer)"
            routerLink="pages/sede-social"
            [ngClass]="{
              'selected-nav': selectedMenu === 'sede-social',
              'raleway-extra-bold': selectedMenu === 'sede-social',
              'raleway-regular': selectedMenu !== 'sede-social'
            }"
          >
            SEDE SOCIAL
          </a>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <mat-expansion-panel #expansionPanel>
          <mat-expansion-panel-header>
            <mat-panel-title> COMPLEJO </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a
              href="https://www.apartlasbarrancas.com/"
              target="_blank"
              [ngClass]="{
                'selected-nav': selectedMenu === 'barrancas',
                'raleway-extra-bold': selectedMenu === 'barrancas',
                'raleway-regular': selectedMenu !== 'barrancas'
              }"
            >
              BARRANCAS&nbsp;<span class="mat-small">apart & spa</span>
            </a>
            <a
              mat-list-item
              (click)="selectMenu('colonia', drawer)"
              routerLink="pages/colonia"
              [ngClass]="{
                'selected-nav': selectedMenu === 'colonia',
                'raleway-extra-bold': selectedMenu === 'colonia',
                'raleway-regular': selectedMenu !== 'colonia'
              }"
            >
              COLONIA
            </a>
            <a
              mat-list-item
              (click)="selectMenu('fogones', drawer)"
              routerLink="pages/fogones"
              [ngClass]="{
                'selected-nav': selectedMenu === 'fogones',
                'raleway-extra-bold': selectedMenu === 'fogones',
                'raleway-regular': selectedMenu !== 'fogones'
              }"
            >
              FOGONES
            </a>
            <a
              mat-list-item
              (click)="selectMenu('futbol', drawer)"
              routerLink="pages/futbol"
              [ngClass]="{
                'selected-nav': selectedMenu === 'futbol',
                'raleway-extra-bold': selectedMenu === 'futbol',
                'raleway-regular': selectedMenu !== 'futbol'
              }"
            >
              FUTBOL
            </a>
            <a
              mat-list-item
              (click)="selectMenu('hockey', drawer)"
              routerLink="pages/hockey"
              [ngClass]="{
                'selected-nav': selectedMenu === 'hockey',
                'raleway-extra-bold': selectedMenu === 'hockey',
                'raleway-regular': selectedMenu !== 'hockey'
              }"
            >
              HOCKEY
            </a>
            <a
              mat-list-item
              (click)="selectMenu('botera', drawer)"
              routerLink="pages/botera"
              [ngClass]="{
                'selected-nav': selectedMenu === 'botera',
                'raleway-extra-bold': selectedMenu === 'botera',
                'raleway-regular': selectedMenu !== 'botera'
              }"
            >
              LA BOTERA
            </a>
            <a
              mat-list-item
              (click)="selectMenu('pileta', drawer)"
              routerLink="pages/pileta"
              [ngClass]="{
                'selected-nav': selectedMenu === 'pileta',
                'raleway-extra-bold': selectedMenu === 'pileta',
                'raleway-regular': selectedMenu !== 'pileta'
              }"
            >
              PILETA
            </a>
            <a
              mat-list-item
              (click)="selectMenu('salon', drawer)"
              routerLink="pages/salon"
              [ngClass]="{
                'selected-nav': selectedMenu === 'salon',
                'raleway-extra-bold': selectedMenu === 'salon',
                'raleway-regular': selectedMenu !== 'salon'
              }"
            >
              SALON
            </a>
            <a
              mat-list-item
              (click)="selectMenu('tenis', drawer)"
              routerLink="pages/tenis"
              [ngClass]="{
                'selected-nav': selectedMenu === 'tenis',
                'raleway-extra-bold': selectedMenu === 'tenis',
                'raleway-regular': selectedMenu !== 'tenis'
              }"
            >
              TENIS
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-nav-list class="parent-list">
          <a
            mat-list-item
            (click)="selectMenu('historia', drawer)"
            routerLink="pages/historia"
            [ngClass]="{
              'selected-nav': selectedMenu === 'historia',
              'raleway-extra-bold': selectedMenu === 'historia',
              'raleway-regular': selectedMenu !== 'historia'
            }"
          >
            HISTORIA
          </a>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <mat-nav-list class="parent-list">
          <a
            mat-list-item
            (click)="selectMenu('socios', drawer)"
            routerLink="pages/socios"
            [ngClass]="{
              'selected-nav': selectedMenu === 'socios',
              'raleway-extra-bold': selectedMenu === 'socios',
              'raleway-regular': selectedMenu !== 'socios'
            }"
          >
            SOCIOS
          </a>
        </mat-nav-list>
        <ng-container *ngIf="isHandset$ | async">
          <mat-divider></mat-divider>
          <mat-nav-list class="parent-list">
            <a
              mat-list-item
              (click)="selectMenu('covid', drawer)"
              routerLink="pages/covid"
              [ngClass]="{
                'selected-nav': selectedMenu === 'covid',
                'raleway-extra-bold': selectedMenu === 'covid',
                'raleway-regular': selectedMenu !== 'covid'
              }"
            >
              COVID
            </a>
          </mat-nav-list>
        </ng-container>
      </mat-accordion>
    </ngx-simplebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-carousel [selectedBackgroundContext]="selectedMenu">
      <div class="contentContainer">
        <mat-toolbar *ngIf="isHandset$ | async" class="mobileToolbarBackground">
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
          >
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span class="garamond">Club Del Valle</span>
        </mat-toolbar>
        <div
          [ngClass]="{
            withNavigationMargin: !(isHandset$ | async),
            content: true,
            reducedViewPort: (isHandset$ | async)
          }"
        >
          <router-outlet></router-outlet>
        </div>
      </div>
    </app-carousel>
  </mat-sidenav-content>
</mat-sidenav-container>
<div
  *ngIf="!(isHandset$ | async)"
  class="covidPositioner"
  (click)="selectMenu('covid', drawer)"
  routerLink="pages/covid"
>
  <div
    [ngClass]="{
      covidContainer: true,
      'raleway-extra-bold': selectedMenu === 'covid',
      'raleway-regular': selectedMenu !== 'covid'
    }"
  >
    <div class="title raleway-extra-bold">COVID-19</div>
    <div class="body">PROTOCOLOS SANITARIOS</div>
  </div>
  <div class="covidContainerTriangle"></div>
</div>
