<mat-sidenav-container class="sidenav-container" [hasBackdrop]="isHandset$ | async">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="'over'" [opened]="!(isHandset$ | async)"
    (closedStart)="expansionPanel.close()">
    <mat-toolbar class="logo-container">
      <img src="/assets/delValleLogo.png" alt="logo" />
      <p>Club Del Valle</p>
    </mat-toolbar>
    <ngx-simplebar>
      <mat-accordion>
        <mat-nav-list class="parent-list">
          <a mat-list-item (click)="selectMenu('sede-social')" routerLink="sede-social" [ngClass]="{ 'selected-nav': selectedMenu === 'sede-social' }">
            Sede Social
          </a>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <mat-expansion-panel #expansionPanel>
          <mat-expansion-panel-header>
            <mat-panel-title> Complejo </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item (click)="selectMenu('barrancas')" routerLink="barrancas" [ngClass]="{ 'selected-nav': selectedMenu === 'barrancas' }">
              Barrancas&nbsp;<span class="mat-small">apart & spa</span>
            </a>
            <a mat-list-item (click)="selectMenu('colonia')" routerLink="colonia" [ngClass]="{ 'selected-nav': selectedMenu === 'colonia' }">
              Colonia
            </a>
            <a mat-list-item (click)="selectMenu('fogones')" routerLink="fogones" [ngClass]="{ 'selected-nav': selectedMenu === 'fogones' }">
              Fogones
            </a>
            <a mat-list-item (click)="selectMenu('futbol')" routerLink="futbol" [ngClass]="{ 'selected-nav': selectedMenu === 'futbol' }">
              Futbol
            </a>
            <a mat-list-item (click)="selectMenu('hockey')" routerLink="hockey" [ngClass]="{ 'selected-nav': selectedMenu === 'hockey' }">
              Hockey
            </a>
            <a mat-list-item (click)="selectMenu('botera')" routerLink="botera" [ngClass]="{ 'selected-nav': selectedMenu === 'botera' }">
              La Botera
            </a>
            <a mat-list-item (click)="selectMenu('terraza')" routerLink="terraza" [ngClass]="{ 'selected-nav': selectedMenu === 'terraza' }">
              La Terraza
            </a>
            <a mat-list-item (click)="selectMenu('pileta')" routerLink="pileta" [ngClass]="{ 'selected-nav': selectedMenu === 'pileta' }">
              Pileta
            </a>
            <a mat-list-item (click)="selectMenu('salon')" routerLink="salon" [ngClass]="{ 'selected-nav': selectedMenu === 'salon' }">
              Salón
            </a>
            <a mat-list-item (click)="selectMenu('tenis')" routerLink="tenis" [ngClass]="{ 'selected-nav': selectedMenu === 'tenis' }">
              Tenis
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-nav-list class="parent-list">
          <a mat-list-item (click)="selectMenu('historia')" routerLink="historia" [ngClass]="{ 'selected-nav': selectedMenu === 'historia' }">
            Historia
          </a>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <mat-nav-list class="parent-list">
          <a mat-list-item (click)="selectMenu('socios')" routerLink="socios" [ngClass]="{ 'selected-nav': selectedMenu === 'socios' }">
            Socios
          </a>
        </mat-nav-list>
      </mat-accordion>
    </ngx-simplebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-carousel>
      <mat-toolbar *ngIf="isHandset$ | async">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Club Del Valle</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </app-carousel>
  </mat-sidenav-content>
</mat-sidenav-container>
