<mat-sidenav-container class="sidenav-container" [hasBackdrop]="isHandset$ | async">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'" [opened]="!(isHandset$ | async)" (closedStart)="expansionPanel.close()">
    <mat-toolbar class="logo-container">
      <img src="/assets/delValleLogo.png" alt="logo" />
      <p>Club Del Valle</p>
    </mat-toolbar>
    <ngx-simplebar>
      <mat-accordion>
        <mat-nav-list class="parent-list">
          <a mat-list-item (click)="selectMenu('sede-social')" routerLink="pages/sede-social"
            [ngClass]="{ 'selected-nav': selectedMenu === 'sede-social' }">
            SEDE SOCIAL
          </a>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <mat-expansion-panel #expansionPanel>
          <mat-expansion-panel-header>
            <mat-panel-title> COMPLEJO </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item (click)="selectMenu('barrancas')" routerLink="pages/barrancas"
              [ngClass]="{ 'selected-nav': selectedMenu === 'barrancas' }">
              BARRANCAS&nbsp;<span class="mat-small">apart & spa</span>
            </a>
            <a mat-list-item (click)="selectMenu('colonia')" routerLink="pages/colonia"
              [ngClass]="{ 'selected-nav': selectedMenu === 'colonia' }">
              COLONIA
            </a>
            <a mat-list-item (click)="selectMenu('fogones')" routerLink="pages/fogones"
              [ngClass]="{ 'selected-nav': selectedMenu === 'fogones' }">
              FOGONES
            </a>
            <a mat-list-item (click)="selectMenu('futbol')" routerLink="pages/futbol"
              [ngClass]="{ 'selected-nav': selectedMenu === 'futbol' }">
              FUTBOL
            </a>
            <a mat-list-item (click)="selectMenu('hockey')" routerLink="pages/hockey"
              [ngClass]="{ 'selected-nav': selectedMenu === 'hockey' }">
              HOCKEY
            </a>
            <a mat-list-item (click)="selectMenu('botera')" routerLink="pages/botera"
              [ngClass]="{ 'selected-nav': selectedMenu === 'botera' }">
              LA BOTERA
            </a>
            <a mat-list-item (click)="selectMenu('terraza')" routerLink="pages/terraza"
              [ngClass]="{ 'selected-nav': selectedMenu === 'terraza' }">
              LA TERRAZA
            </a>
            <a mat-list-item (click)="selectMenu('pileta')" routerLink="pages/pileta"
              [ngClass]="{ 'selected-nav': selectedMenu === 'pileta' }">
              PILETA
            </a>
            <a mat-list-item (click)="selectMenu('salon')" routerLink="pages/salon"
              [ngClass]="{ 'selected-nav': selectedMenu === 'salon' }">
              SALON
            </a>
            <a mat-list-item (click)="selectMenu('tenis')" routerLink="pages/tenis"
              [ngClass]="{ 'selected-nav': selectedMenu === 'tenis' }">
              TENIS
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-nav-list class="parent-list">
          <a mat-list-item (click)="selectMenu('historia')" routerLink="pages/historia"
            [ngClass]="{ 'selected-nav': selectedMenu === 'historia' }">
            Historia
          </a>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <mat-nav-list class="parent-list">
          <a mat-list-item (click)="selectMenu('socios')" routerLink="pages/socios"
            [ngClass]="{ 'selected-nav': selectedMenu === 'socios' }">
            Socios
          </a>
        </mat-nav-list>
      </mat-accordion>
    </ngx-simplebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-carousel>
      <div class="contentContainer">
        <mat-toolbar *ngIf="isHandset$ | async">
          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span>Club Del Valle</span>
        </mat-toolbar>
        <div [ngClass]="{
        'withNavigationMargin': !(isHandset$ | async),
       'content': true,
      'reducedViewPortContent': (isHandset$ | async)}">
          <router-outlet></router-outlet>
        </div>
      </div>
    </app-carousel>
  </mat-sidenav-content>
</mat-sidenav-container>