<div class="outerContainer">
  <div class="innerContainer">
    <div class="verticalInnerContainer">
      <div class="title">TENIS</div>
      <div class="body">
        El Club Del Valle cuenta con 5 canchas de tenis donde funciona desde
        1989 una gran escuela formativa y competitiva.
      </div>
      <div class="body">
        Se han formado jugadores destacados como Eduardo Ronco, Marcelo Carrara,
        Pablo Fuente (entrenador de Juan Martin Del Potro), Machi González y
        Juan Ignacio Chela entre otros.
        <div class="body">
          Su ambiente natural y placentero es plenamente disfrutable, tanto en
          la noche bajo las estrellas como a la luz del día.
        </div>
        <div class="body">
          Es seguramente, la mejor opción de Necochea y la zona para la
          realización de desayunos de trabajo, congresos, cenas empresariales,
          casamientos, cumpleaños o cualquier evento social.
        </div>
        <div class="body">
          Juan Pablo Rosello, “Yuri” Quaglia, Matías Leal y Rafael Rasmussen
          fueron sólo algunos de los profesores emblemáticos de nuestra escuela.
          En la historia más reciente están Marcelo Callegari y Silvina Martínez
          habiendo sido formadores de Ignacio Bidegain (hoy representante
          Universitario de Tenis de EE.UU.) y Eugenia Ganga (quién llegó a estar
          n°4 en el Ranking Nacional).
        </div>
        <div class="body">
          En nuestras canchas se han desarrollado diferentes torneos en
          categorías menores fiscalizados por la Asociación Argentina de Tenis y
          el tradicional Torneo Nacional de Veteranos.
        </div>
        <div class="body">
          En la actualidad nuestra escuela es conducida por Silvina Martínez.
        </div>
        <div class="body">Contacto: 2262 56-9082 / Silvina Martinez.</div>
      </div>
    </div>
  </div>
</div>
