<div class="outerContainer">
  <div class="innerContainer">
    <div class="verticalInnerContainer">
      <div class="title raleway-extra-bold">PILETA</div>
      <div class="body">
        El año 1987 fue un hito histórico en la vida institucional de nuestro
        Club. A mitad del año se inauguraron las canchas de tenis y el 14 de
        diciembre, bajo la presidencia de Abel Laghezza, se inauguró LA PILETA
        DE NATACIÓN; dos obras importantes no sólo para el Club y sus socios
        sino para toda la comunidad de Necochea. Con la pileta de natación se
        iniciaron las actividades de la primera colonia del club, una de las
        pioneras y más tradicional de nuestra ciudad, Necochea.
      </div>
      <div class="body">
        El arquitecto a cargo del proyecto fue Carlos Goñi.
      </div>
      <div class="body">
        La COLONIA Y PILETA ESCUELA estuvo a cargo de Yuri Quaglia y Vicente
        Bidegain, con la asistencia de su primer guardavidas Agustín Gonzalez.
      </div>
      <div class="body">
        Desde el principio, rodeada de tierra y con los vestuarios ubicados
        debajo de donde hoy funciona la cantina del Club, sigue siendo en la
        actualidad, con su moderno diseño, una de las piletas de natación más
        importante de la Ciudad con una actividad intensa durante la temporada
        de verano, tanto para los socios como para la comunidad, siendo un
        espacio único con vista al río Quequén.
      </div>
      <div class="body contact raleway-bold">
        Contacto: 02262 439663 / Administración.
      </div>
    </div>
  </div>
</div>
