<div class="outerContainer">
  <div class="innerContainer">
    <div class="verticalInnerContainer">
      <div class="title raleway-extra-bold">HOCKEY</div>
      <div class="body">
        El hockey sobre césped comenzó en el Club del Valle allá por 1994, con
        la conducción de Marcelo Díaz. A través de los años fuimos creciendo y
        hoy participamos en la más alta categoría de la Asociación Amateur Mar
        del Plata Hockey. En la actualidad, las categorías formativas están
        coordinadas por Liliana Pinchinatti y las competitivas por Luciana
        Polizzi. Hace dos años hemos incorporado el Hockey Masculino, a cargo de
        Soledad Soriano, participando también en el torneo Marplatense. Estamos
        orgullosos de nuestras jugadoras y jugadores que demuestran partido a
        partido la pasión que sienten por nuestros colores.
      </div>
      <div class="body">
        Contacto Hockey Formativo: +54 9 2262 59-9166 / Liliana Pinchinatti
      </div>
      <div class="body contact raleway-bold">
        Contacto Hockey Competitivo: +54 9 2262 66-3233 / Luciana Polizzi
      </div>
    </div>
  </div>
</div>
